*{
    font-family: monospace;

}
body{
    background-color: #D0F4FC;
    overflow:scroll;
    overflow-x:hidden;
}
.container{
    background-color: white;
    margin: auto;
    display: flex;
    width: 90%;
}
.form{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 1.5rem;
}
.form input, .form p{
    margin-left: 0;
}
.col1{
    width: 70%;
    background-color: white;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0.25rem .25rem rgba(0,0,0,.075)!important;
}
.col2{
    width: 20%;
    background-color: white;
}
.col3{
    width: 10%;
    background-color: white;
}
.box{
    border: 1px black solid;
}
.noRadius{
    border-radius: 0;
}
h1{
    text-align: center;
}
.big{
    font-size: 50px;
    margin: 40px;
    background-color: white;
}
p{
    background-color: white;
    margin: 10px;
}
button{
    background-color: #09D1FD;
    border: gray solid 1px;
    margin: auto auto;
}
.blue{
    margin: 20px auto;
    text-align: center;
    cursor:pointer;
    background-color: #09D1FD;
    display: inline-block;
    font-size: 30px;
    border: gray solid 1px;
}
input{
    margin-top: 1rem;
    margin-left: 10px;
}
label {
    width: 70px;
    display: inline-block;
}
.crypt{
    font-size: 25px;
    color: #09D1FD;
    margin-left: 20px;
}
#invisible{
    display: none;
}
#inputs{
    margin-left: auto;
    margin-right: auto;
}
#m{
    margin: auto;
    text-align: center;
}
